GRANT CONNECT ON DATABASE "{{ item.db_name }}" TO "{{ item.username }}";
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL PRIVILEGES ON TABLES TO "{{ item.username }}";
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL PRIVILEGES ON SEQUENCES TO "{{ item.username }}";
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL PRIVILEGES ON FUNCTIONS TO "{{ item.username }}";
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO "{{ item.username }}";
GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO "{{ item.username }}";
GRANT ALL PRIVILEGES ON ALL FUNCTIONS IN SCHEMA public TO "{{ item.username }}";
